//VARIABLES
$light: #fff;
$dark: #000;
$grey: #999;
$header-w: 225px;
$wrapper-w: calc(100% - #{$header-w});


//HEADER
.note-header {
    width: $header-w;
    height: 100vh;
    max-height: 100vh;
    padding: 20px;
    border-right: 2px solid $light;
}

//WRAPPER
.note-wrapper {
    width: $wrapper-w;
    padding: 20px 7.5px;
}